/* Variables for COLOR */
:root {
  --primary-color: #025a8c;
  --primary-color-light: #0878bf;
  --primary-color-2: #0066a0;
  --secondary-color: #ff8a00;
  --primary-theme-color: #fff;
  --secondary-theme-color: #ebf8ff;
  --theme-color-black: #171b23;
  --subtitle-color: #f37a20;
  --color-green: #2dad00;
  --color-green-light: #00bc64;
  --color-red: #d82327;
  --color-black: #000000;
}
