/* Google font */
// $font-url: "https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap";

// Normal font
@font-face {
  font-family: "proximaNova";
  src: url(/assets/fonts/ProximaNova-Regular.ttf);
  font-weight: 400;
  font-size: normal;
}

// Semi-bold font
@font-face {
  font-family: "proximaNova";
  src: url(/assets/fonts/ProximaNova-Semibold.ttf);
  font-weight: 600;
  font-size: normal;
}

// bold font
@font-face {
  font-family: "proximaNova";
  src: url(/assets/fonts/ProximaNova-Bold.ttf);
  font-weight: 700;
  font-size: normal;
}

:root {
  --font-body: "proximaNova", sans-serif;
  --font-heading: "proximaNova", sans-serif;
}
