@use "../../utils" as *;

.cta-area {
  background: var(--secondary-theme-color);
  @media #{$sm, $xs} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.ctasection {
  background: var(--primary-theme-color);
  padding: 40px;
  box-shadow: 5px 5px 20px rgba(#000000, 0.1);

  @media #{$sm, $xs} {
    padding: 20px;
  }

  &__thumb {
    box-shadow: 5px 5px 20px rgba(#000000, 0.1);

    @media #{$sm, $xs} {
      margin-bottom: 20px;
      width: 280px;
    }
    &-304 {
      width: 304px;
    }
    & img {
      @media #{$sm, $xs} {
        width: 280px;
      }
    }

    &-2 {
      & img {
        @media #{$sm, $xs} {
          width: 280px;
          height: 182px;
        }
      }
    }
  }

  &__title {
    line-height: 26px;
    &-2 {
      line-height: 43px;
    }

    @media #{$sm, $xs} {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
    }
  }

  &__content {
    @media #{$sm, $xs} {
      padding-left: 0;
    }
    & p {
      line-height: 26px;
      @media #{$sm, $xs} {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  // &-2 {
  //   padding: 70px 140px;
  //   gap: 48px;
  // }
}
